* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color-principal: rgb(20, 0, 42);
	--color-secundario: rgb(2, 255, 255);
	--color-principal-opaco: rgba(0, 0, 0);
	--color-secundario-opaco: rgba(2, 255, 255, 0.301);

}

body, html {
	background-color: var(--color-principal);
	overflow-x: auto;
}
